.footer {
  padding: 20px 30px;
  background-color: #222;
}

.logo {
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
    vertical-align: top;
  }

  .text {
    font-size: 18px;
  }
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;
}
